<%- include('partials/_header') %>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <%- include('partials/_menu') %>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>About Us</h2>
        <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero voluptates vero iste facere qui eos maxime ipsa cum culpa, similique quaerat placeat corporis repellendus molestias incidunt ad beatae non aperiam deserunt debitis natus esse voluptate rerum dolor. Velit, hic excepturi quos ipsum fugit iste expedita ratione, vero praesentium dolorum nesciunt placeat sint numquam earum animi cum molestiae repellat, recusandae iure.        </p>
      </div>
    </div>
    <div class="portfolio_container">
      <div class="row">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <%- include('partials/_footer') %>
</body>
